{
    margin:0;
}
@font-face{
    font-family: font_pizza;
    src:url("pizzaria.zip");
}
header{ 
    height: 500px;
    background-image: url(pexels-vinicius-benedit-1082343.jpg);
    background-repeat: no-repeat;
    background-size: cover;/*ajustar imagem background*/
    background-position: center;/*ajustar imagem background*/
    }
    nav ul{
        height: 100px;
        width: 100%;
        display: flex;
        color: black;
        justify-content: space-evenly;
        align-items: center;
        font-family: fonte_pizza;
    
        }
h1{
    color: azured;
    text-align: center;
}